apiVersion: apps/v1
kind: Deployment
metadata:
  name: "doctor-api"
  labels:
    {{- include "doctor-api.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "doctor-api.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "doctor-api.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: "doctor-api"
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: PATH
              value: {{ .Values.PATH }}
            - name: ASPNETCORE_URLS
              value: {{ .Values.ASPNETCORE_URLS }}
            - name: DOTNET_RUNNING_IN_CONTAINER
              value: {{ .Values.DOTNET_RUNNING_IN_CONTAINER }}
            - name: DOTNET_VERSION
              value: {{ .Values.DOTNET_VERSION }}
            - name: ASPNET_VERSION
              value: {{ .Values.ASPNET_VERSION }}
            - name: ASPNETCORE_ENVIRONMENT
              value: {{ .Values.ASPNETCORE_ENVIRONMENT }}
            
          ports:
            - name: http
              containerPort: 80
              protocol: TCP

            - name: https
              containerPort: 443
              protocol: TCP

          livenessProbe:
            httpGet:
              path: /
              port: http
          readinessProbe:
            httpGet:
              path: /
              port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
